
.DS_Store
data/all_opinions.csv
data/supreme-court-opinions-by-author.jsonl
data/opinions_since_1970.csv
data/supreme-court-opinions-by-author.jsonl.gz
first_dry_run_with_opinions_from_1970_on
tempCodeRunnerFile.py
